<section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Nissan</h2>
          <p>es un fabricante japonés de automóviles, con base en Yokohama. Su nombre común, Nissan, es un acrónimo de "Nippon Sangyo". Está entre las principales compañías automotrices en términos de producción anual de vehículos. Desde 1999 forma parte de la Alianza Renault-Nissan-Mitsubishi donde Renault controla el 43,4% de Nissan y esta a su vez controla el 15% de Renault así como el 34% de Mitsubishi y el 100% del fabricante ruso Lada, manteniendo su autonomía.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>CONOCE MAS SOBRE NISSAN</h3>
            <p class="font-italic">
              <iframe width="760" height="515" src="https://www.youtube.com/embed/ljdM1pLVulo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>
          
          </div>
        </div>

      </div>
    </section><!-- End About Section -->